<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
       <section name="SecuritySection" type="NewsPortal.Security.ConfigSections.SecuritySection, NewsPortal.Security, Version=1.0.0.0, Culture=neutral"/>
    </configSections>
  <SecuritySection>
    <OAuthProviders>
      <OAuthProvider	ProviderName="facebook" AppId="1505529139756704" AppSecret="55ba9a4581bd06cebdc9f313c768e02c"/>
    </OAuthProviders>
  </SecuritySection>
</configuration>